@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nautilus Pompilius";
  src: url("../fonts/NautilusPompilius.eot");
  src: local("Nautilus Pompilius Regular"), local("NautilusPompilius"),
    url("../fonts/NautilusPompilius.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NautilusPompilius.woff2") format("woff2"), url("../fonts/NautilusPompilius.woff") format("woff"),
    url("../fonts/NautilusPompilius.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
}
body,
html {
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}
.pass-test {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pass-test__content {
  height: 100%;
}
.button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 100%;
  font-weight: 600;
  padding: 14px 20px;
}
.button--primary {
  color: #fff;
  box-shadow: 0px 2px 10px #f65d77;
  background: linear-gradient(180deg, #f492b2 0%, #f65d77 100%);
}
.pass-test__button {
  max-width: 300px;
}
.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 30;
}
.quiz {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #fff;
  max-width: 1311px;
  width: 100%;
  height: 682px;
  max-height: 95%;
  z-index: 40;
  overflow: auto;
}
.quiz-head {
  padding: 41px 0 34px 43px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f65d77;
}
.quiz-head__logo {
  width: 87px;
  display: block;
}
.quiz-head__hint {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #895254;
  margin-left: 67px;
}
.quiz-body {
  padding: 60px 0 47px 64px;
}
.form {
}
.quiz-body__form {
}

/*---Первый Fielset с первого экрана--*/
.form__fieldset {
  padding: 0;
}
.form__fieldset:nth-child(1) .form-button__btn-next {
  margin-left: auto;
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #595354;
  margin-bottom: 30px;
}
.form__wrap {
  display: flex;
  flex-wrap: wrap;
}
.form__label-radio {
  margin-right: 42px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  max-width: 240px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.25);
}
.form__label-radio:last-child {
  margin-right: 0;
}
.form__label-radio.active-radio {
  box-shadow: 0px 4px 19px #f65d77;
}
.form__radio {
  display: none;
}
.form__choice {
}
.form__image {
  width: 100%;
  height: 247px;
  overflow: hidden;
}
.form__answer {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #595354;
  width: 100%;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-button {
}
.form-button__indent {
  margin-top: 50px;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.button {
}
.form-button__btn-next {
  display: block;
  max-width: 171px;
  margin-right: 375px;
  text-align: left;
  padding-left: 35px;
  position: relative;
}
.form-button__btn-next::after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 8px;
  top: 19px;
  right: 30px;
}
.button--primary {
}
/*-!Первый Fielset с первого экрана--*/

/*---Второй Fielset со второго экрана--*/

/*-!Второй Fielset со второго экрана--*/

/*--Общая правая часть квиза---*/
.quiz-position {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 316px;
  width: 100%;
  max-height: 100%;
}
.quiz-position__bg {
  background-image: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 682px;
  background-size: cover;
}
.quiz-position__on {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #595354;
  padding: 67px 0 20px;
  display: block;
}
.quiz-position__percent {
  font-weight: 700;
  font-size: 73px;
  line-height: 99px;
  text-align: center;
  color: #f492b2;
  margin-bottom: 85px;
}
.quiz-position__find-out {
  display: block;
  font-family: "Nautilus Pompilius", cursive;
  font-weight: 400;
  font-size: 29px;
  line-height: 121%;
  text-align: center;
  color: #595354;
  margin: 0 auto 70px;
  max-width: 210px;
}
.quiz-position__image {
  background-image: url("../img/bg1-img.png");
  background-repeat: no-repeat;
  max-width: 276px;
  height: 188px;
}
/*-!Общая правая часть квиза---*/
